.container, .subcontainer1, .subcontainer2, .subcontainer3, .subcontainer4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.subcontainer1 {
  background-color: #222831;
  height: 280px; }

.subcontainer2 {
  background-color: #30475e; }

.subcontainer3 {
  background-color: #C1A57B; }

.subcontainer4 {
  background-color: #ececec; }

h1 {
  color: #30475e;
  font-family: Courier, monospace;
  font-size: 60px !important;
  position: relative;
  margin-top: -20px; }

h2 {
  font-size: 45px !important;
  font-family: Vegur, PT Sans, Verdana, sans-serif bold;
  color: #222831; }

h3 {
  color: #ececec;
  font-family: "Consolas", monospace !important;
  font-size: 25px !important; }

.logo {
  width: 150px;
  height: 150px;
  background-image: url("../img/logo_.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 25px;
  right: -30px; }

.icon-plus:hover {
  background-color: green; }
