.container, .subcontainer1, .subcontainer2, .subcontainer3, .subcontainer4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.subcontainer1 {
  background-color: #222831;
  height: 280px; }

.subcontainer2 {
  background-color: #30475e; }

.subcontainer3 {
  background-color: #C1A57B; }

.subcontainer4 {
  background-color: #ececec; }

h1 {
  color: #30475e !important;
  font-family: Courier, monospace !important;
  font-size: 60px !important;
  text-align: center;
  position: relative;
  margin-top: -20px; }

h2 {
  color: #222831 !important;
  font-family: Courier, monospace !important;
  font-size: 45px !important;
  text-align: center; }

h3 {
  color: #ececec !important;
  font-family: "Consolas", monospace !important;
  font-size: 25px !important; }

.logo {
  width: 150px;
  height: 150px;
  background-image: url("../img/logo_.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 25px;
  right: -30px; }

.icon-plus:hover {
  background-color: green; }

.page-footer {
  width: 100% !important;
  background-color: #ececec !important; }

.icons-social {
  display: inline;
  justify-content: center; }

.fa {
  font-size: 20px;
  color: #30475e; }

label {
  font-size: 20px !important;
  color: #30475e !important; }
