$width_div: 100%;
$height_div: 300px;
$height_subcontainer:280px;
$font: 'OCR A Std', monospace;
$colors: #222831, #30475e , #C1A57B, #ececec;
$width_logo:150px;
$height_logo:150px;
$title_font: Courier, monospace;
$subtitle_font: "Consolas", monospace;
$h2_font: Vegur, PT Sans, Verdana, sans-serif;

