@import "variables";
@import "mixins";


.container{

    width: $width_div;
    @include position_center(column);
}

@for $i from 1 through 4{
 
        .#{subcontainer}#{$i}{
            @extend .container;
    
            background-color: nth($colors, $i);
            @if($i == 1){
                height: $height_subcontainer;
            }
        }    
    
}


h1{

    @include title(#30475e, 450px);
    position: relative;
    margin-top: -20px;

}

h2{
    font-size: 45px !important;
    font-family: $h2_font bold;
    color: nth($colors, 1);
}

h3{
   
   @include subtitle(#ececec, 25px) 
}


.logo{

   @include logo;

}

.icon-plus:hover{

    background-color: green;
}
/*.card{
    
    @include card-style;
}*/
