@import "variables";


@mixin position_center($position) {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $position;
}

@mixin title($color, $size) {
    
    color: $color;
    font-family: $title_font;
    font-size: $size !important;
}

@mixin subtitle($color, $size) {
    color: $color;
    font-family: $subtitle_font !important;
    font-size: $size !important;
}


@mixin logo {
    width: $width_logo;
    height: $height_logo;
    background-image: url("../img/logo_.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 25px;
    right: -30px;
}

@mixin plus_icon {
    

}